/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor */
.container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título */
h1 {
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Párrafos */
p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Texto resaltado */
strong {
  color: #1a73e8;
}